/* Pop-in animation for messages */
@keyframes pop-in {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pop-in {
  animation: pop-in 0.3s ease-out;
}

/* Container for the bouncing dots */
.bouncing-dots {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Style for each individual dot */
.dot {
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  animation: bounce 1.2s infinite ease-in-out;
}

/* Delay the bounce for each dot */
.dot:nth-child(1) {
  animation-delay: -0.32s;
}
.dot:nth-child(2) {
  animation-delay: -0.16s;
}
.dot:nth-child(3) {
  animation-delay: 0;
}

/* Keyframes for the bounce effect */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
