.custom-navbar {
    background-color: beige !important;
  }
  
  .custom-link {
    background-color:black;
    border-radius: 50px;
    padding: 5px 15px;
    margin-left: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
  }
  
  .custom-link:hover {
    background-color: #f0f0f0;
    color: #000;
    text-decoration: none;
  }
  